@model Projekt.Models.Products.ProductModel

<h2>Szczegóły produktu</h2>

<div class="product-details">
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Nazwa
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt class="col-sm-2">
            Cena
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Price) zł
        </dd>

        <dt class="col-sm-2">
            Producent
        </dt>
        <dd class="col-sm-10">
            @ViewBag.ProducerName
        </dd>

        <dt class="col-sm-2">
            Data produkcji
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProductionDate)
        </dd>

        <dt class="col-sm-2">
            Opis
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>

    <div class="back-link">
        <a asp-action="Index" class="btn btn-primary">Powrót do listy</a>
    </div>
</div>
