@model Projekt.Models.Producer.ProducerModel
@using Projekt.Models.Addresses

<h2 class="margin-2">Dodaj Producenta</h2>

<form asp-action="Create" method="post" class="needs-validation" novalidate>
    <div class="form-group margin-2">
        <label asp-for="Name" style="font-weight: bold;">Nazwa:</label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="form-group margin-2">
        <label asp-for="Description" style="font-weight: bold;">Opis:</label>
        <textarea asp-for="Description" class="form-control"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>

    <div class="form-group margin-2">
        <label for="AddressId" style="font-weight: bold;">Adres:</label>
        <select asp-for="AddressId" class="form-control">
            @foreach (var address in ViewBag.Addresses)
            {
                    <option value="@address.Id">@address.City, @address.Street, @address.PostalCode, @address.Region</option>
            }
        </select>
        <span asp-validation-for="AddressId" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary margin-2">Dodaj Producenta</button>
</form>
