@model Projekt.Models.Producer.ProducerModel;

<h2>Usuń Producenta</h2>

<div>
    <h4>Producent</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>

    <form id="deleteForm" asp-action="Delete" asp-route-id="@Model.Id" method="post">
        <input type="submit" value="Usuń" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-secondary">Powrót</a>
    </form>
</div>

<div class="modal fade" id="confirmDeleteModal" tabindex="-1" role="dialog" aria-labelledby="confirmDeleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmDeleteModalLabel">Potwierdź Usunięcie</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Zamknij">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Czy na pewno chcesz usunąć tego producenta?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Anuluj</button>
                <button type="button" id="confirmDeleteButton" class="btn btn-danger">Usuń</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('#deleteForm').on('submit', function (e) {
                e.preventDefault();

                $('#confirmDeleteModal').modal('show');
            });

            $('#confirmDeleteModal').on('click', '.btn-secondary', function () {
                $('#confirmDeleteModal').modal('hide');
            });

            $('#confirmDeleteModal').on('click', '.close', function () {
                $('#confirmDeleteModal').modal('hide');
            });

            $('#confirmDeleteModal').on('click', '#confirmDeleteButton', function () {
                $('#deleteForm').unbind('submit').submit();
            });
        });
    </script>
}
