@model List<Projekt.Models.Producer.ProducerModel>

<h2 class="margin-1">Lista producentów</h2>
<p class="margin-1">
    <a asp-action="Create" class="btn btn-primary">Dodaj nowego producenta</a>
</p>

@if (Model.Count > 0)
{
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nazwa</th>
                    <th>Opis</th>
                    <th>Akcje</th>
                </tr>
            </thead>
            <tbody>
                @for (var i = 0; i < Model.Count; i++)
                {
                    var producer = Model[i];
                    <tr class="@((i % 2 == 0) ? "even-row" : "odd-row")">
                        <td>@producer.Id</td>
                        <td>@producer.Name</td>
                        <td>@producer.Description</td>
                        <td>
                            <a asp-action="Details" asp-route-id="@producer.Id" class="btn btn-primary">Szczegóły</a>
                            <a asp-action="Edit" asp-route-id="@producer.Id" class="btn btn-secondary">Edytuj</a>
                            <a asp-action="Delete" asp-route-id="@producer.Id" class="btn btn-danger">Usuń</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
else
{
    <p>Brak producentów do wyświetlenia.</p>
}
